.container {
  padding: 0 2rem;
}

.adjustLogo {
  display: flex;
  min-width: 44vw;
  min-height: 10vw;
  justify-content: space-between;
  align-items: center;
}

.adjustLogo div {
  background-color: white;
  width: 151;
  height: 151;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

/* .footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

.title a {
  color: #46B1E6;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  align-items: center;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.select {
  margin-bottom: 2rem;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: red;
}

.card h1 {
  color: #0070f3;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-bottom: 0.5rem;
}

.divCard {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .card {
    width: 47vw;
    margin: 0.2rem;
    text-align: center;
    padding-top: 0.5rem;
    text-align: left;
  }
  .divCard {
    width: 44vw;
    display: flex;
    justify-content: space-between;
  }
  .card h3 {
    font-size: 1.2rem;
    color: red;
  }
  .card h1 {
    font-size: 1.3rem;
  }
  .card p {
    font-size: 1.1rem;
    line-height: 1;
  }
  

}

@media (max-width: 600px) {
  .card {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .adjustLogo {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-evenly;
    align-items: center;
  }

  .separateCards {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .divCard {
    display: flex;
    width: auto;
    flex-direction: column;
  }

  .card {
    width: auto;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

}

@keyframes fade {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.screen {
  position: relative;
  height: 100vh;
  width: 100%;
  opacity: 0;
  animation: fade 0.4s ease-in forwards;
}


.balls {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
}

@keyframes oscillate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.ball {
  display: flex;
  align-self: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #1b5299;
  margin: 0 6px 0 0;
  animation: oscillate 0.7s ease-in forwards infinite;
}

.loadingText {
  display: flex;
  padding-top: 2rem;

}

.separateCards {
  display: flex;
  width: fit-content;
}

.hidden {
  display: none;
}